<!-- Footer -->
<footer class="site-footer">
  <div>
    <img src="../img/elesym/logo.jpeg" alt="Logo" class="footer-logo" />
  </div>
    <p class="disclaimer">
     <strong>Disclaimer:</strong> 
     This website is independently operated by [Keyon Properties] for property marketing and enquiry purposes. 
    Reliance Elysium is a residential project developed by Reliance Builders and located at Mokila, Telangana. This website is not the official website of Reliance Builders. 
    </p>
    <p class="copyright">
      Copyright © Authorised Marketing Partner  │ All rights reserved. 
    </p>
  </footer>
  
  